
/* FastClick */
a, input, button {
    -ms-touch-action: none !important;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #a7c7dc;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a7c7dc), to(#85b2d3));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #85b2d3, #a7c7dc);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #85b2d3, #a7c7dc);
  /* IE 10 */
  background: -ms-linear-gradient(top, #85b2d3, #a7c7dc);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #85b2d3, #a7c7dc);
}

#app {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding-bottom: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 0;
  background-color: transparent;
}

#snap-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 40px;
  background-color: #333;
  padding: 0 10px;
}

.bar-button {
  cursor: pointer;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  margin-top: 5px;
  display: inline-block;
}

.bar-button img {
  height: 30px;
}