body {
  font-family: 'Droid Sans', sans-serif;
  color: #333;
  /* Inspired by http://davidwalsh.name/background-animation-css */
  background-image: url('../images/cloud-front.png'), url('../images/cloud-back.png');
  background-position: 0 100%, 0 100%;
  background-repeat: repeat-x, repeat-x;
  background-color: #E1EFF3;
  -webkit-animation: cloudsAnimation 60s linear infinite;
  -moz-animation: cloudsAnimation 60s linear infinite;
  animation: cloudsAnimation 60s linear infinite;
}

@-webkit-keyframes cloudsAnimation {
  from { background-position: 0px 100%, 400px 100%; }
  to { background-position: 800px 100%, 0px 100%; }
}

@-moz-keyframes cloudsAnimation {
  from { background-position: 0px 100%, 400px 100%; }
  to { background-position: 800px 100%, 0px 100%; }
}

@keyframes cloudsAnimation {
  from { background-position: 0px 100%, 400px 100%; }
  to { background-position: 800px 100%, 0px 100%; }
}


.panel {

  display: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;

  height: 100%;

}

.panel.visible {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.app {
  width: 48px;
  height: 64px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

.app > .label {
  display: block;
  font-size: 12px;
  width: 48px;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #ffffff;
  filter: dropshadow(color=#ffffff, offx=1, offy=1);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app > .icon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(33, 33, 33, 0.5);
  box-shadow: 0px 0px 8px 2px rgba(33, 33, 33, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.app:hover > .icon {
  margin-top: 1px;
}

.app:hover > .label {
  margin-top: 4px;
}

/* Colors */

.app > .icon.rose {
  background-color: #ff4d74;
  box-shadow: 0 3px #e60032;
}

.app:hover > .icon.rose {
  box-shadow: 0 2px #e60032;
}

.app > .icon.canary {
  background-color: #fee830;
  box-shadow: 0 3px #c7b201;
}

.app:hover > .icon.canary {
  box-shadow: 0 2px #c7b201;
}

.app > .icon.lime {
  background-color: #86cd4b;
  box-shadow: 0 3px #548b27;
}

.app:hover > .icon.lime {
  box-shadow: 0 2px #548b27;
}

.app > .icon.blue {
  background-color: #039ee0;
  box-shadow: 0 3px #02577b;
}

.app:hover > .icon.blue {
  box-shadow: 0 2px #02577b;
}